:root {
    --mainColor: #3586ff;
    --mainColor2: #61f2f5;
    --whiteColor: #ffffff;
    --grayColor: #e0e0e0;
    --purpleColor: #723881;
    --greenColor: #4cbc9a;
    --redColor: #ff4550;
    --blackColor: #000000;
    --footerColor: #3586ff;
}
